extends layout

block content
  section.hero
    div.hero-body
      div.container
        h1.title.is-1= "Tanuki API refecence cheatsheet" 
        h2.subtitle.is-2= "Index"

  div.container
    h3.title.is-3= "HTTP GET"

    table 
      tr 
        td <span class="code">/api/v1/anime/</span> 
        td Returns list of anime episodes which will be aired this week.
      
      tr 
        td <span class="code">/api/v1/upcoming/</span> 
        td Returns list of animes which will be aired soon.
      
      tr 
        td <span class="code">/api/v1/upcoming/#{'<'}season#{'>'}/</span> 
        td Returns list of animes which will be aired soon.